@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>I ram running in @Model.MyEnvironment</h1>
    <h2>MyVariable = @Model.MyVariable</h2>
</div>
